* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "mttmilano";
  /* img: max width 100%;; */
}

header {
  position: sticky;
  top: 0;
  background-color: #f3f0e1;
  z-index: 2;
}

.h1 {
  color: #f3f0e1;
  background-color: #3a3635;
  font-family: "mttmilano";
  text-align: center;
  font-size: 4rem;
  letter-spacing: 0.75em;
  padding-top: 1rem;
  margin-bottom: 0;
}

.h2 {
  color: #f3f0e1;
  background-color: #3a3635;
  font-family: "mttmilano";
  text-align: center;
  font-size: 1.5rem;
  letter-spacing: 0.75em;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.menudiv {
  position: sticky;
  top: 0;
  background-color: #f3f0e1;
}

.Menu {
  text-align: center;
  padding-left: 0;
}
.Menu ul {
  color: #504c45;
  list-style-type: none;
}
.Menu .menuitem {
  color: black;
  margin: 1rem;
  font-family: "mttmilano";
  text-decoration: none;
  list-style-type: none;
  display: inline-block;
  text-align: center;
}

@keyframes animationgallery0 {
  0% {
    opacity: 10%;
  }
  10% {
    opacity: 15%;
  }
  20% {
    opacity: 20%;
  }
  30% {
    opacity: 35%;
  }
  40% {
    opacity: 40%;
  }
  50% {
    opacity: 55%;
  }
  60% {
    opacity: 60%;
  }
  70% {
    opacity: 75%;
  }
  80% {
    opacity: 80%;
  }
  90% {
    opacity: 90%;
  }
  100% {
    opacity: 100%;
  }
}
.introgallery {
  height: 100vh;
  display: grid;
  animation-name: animationgallery0;
  animation-iteration-count: initial;
  animation-duration: 5s;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(6, 1fr);
  grid-template-areas: "img-00 img-01 img-02 img-03 img-04 img-05" "img-00 img-06 img-07 img-08 img-09 img-10";
}
.introgallery .img00 {
  grid-area: img-00;
  overflow: hidden;
}
.introgallery .img01 {
  grid-area: img-01;
  overflow: hidden;
}
.introgallery .img02 {
  grid-area: img-02;
  overflow: hidden;
}
.introgallery .img03 {
  grid-area: img-03;
  overflow: hidden;
}
.introgallery .img04 {
  grid-area: img-04;
  overflow: hidden;
}
.introgallery .img05 {
  grid-area: img-05;
  overflow: hidden;
}
.introgallery .img06 {
  grid-area: img-06;
  overflow: hidden;
}
.introgallery .img07 {
  grid-area: img-07;
  overflow: hidden;
}
.introgallery .img08 {
  grid-area: img-08;
  overflow: hidden;
}
.introgallery .img09 {
  grid-area: img-09;
  overflow: hidden;
}
.introgallery .img10 {
  grid-area: img-10;
  overflow: hidden;
}
.introgallery .hijo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.galeriamotos {
  display: grid;
  gap: 0.5rem;
  justify-items: center;
  margin: 0.5rem;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: "img1 img2" "img3 img4";
}
.galeriamotos .itemgal1 {
  grid-area: img1;
}
.galeriamotos .itemgal3 {
  grid-area: img2;
}
.galeriamotos .itemgal5 {
  grid-area: img3;
}
.galeriamotos .itemgal6 {
  grid-area: img4;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  background-color: #3a3635;
}

.footertext {
  color: #f3f0e1;
  font-family: "mttmilano";
  text-align: center;
  background-color: #3a3635;
  font-size: 15px;
  padding: 0.3rem;
  bottom: 0;
  left: 0;
  width: 100%;
}

.footericonlist {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  list-style-type: none;
}

.footeritem {
  width: 2%;
  filter: saturate(50%) sepia(20);
  margin: 0.5rem;
}

.footeritem:hover {
  filter: saturate(100%);
}

@media (max-width: 1600px) {
  .h1 {
    color: #f3f0e1;
    background-color: #3a3635;
    font-family: "mttmilano";
    text-align: center;
    font-size: 4rem;
    letter-spacing: 0.75em;
    padding-top: 1rem;
    margin-bottom: 0;
  }
  .h2 {
    color: #f3f0e1;
    background-color: #3a3635;
    font-family: "mttmilano";
    text-align: center;
    font-size: 1.5rem;
    letter-spacing: 0.75em;
    padding-top: 1rem;
  }
  .mb-3 {
    width: auto;
  }
}
@media (max-width: 1360px) {
  img {
    width: 100vw;
    vertical-align: middle;
  }
}
@media (max-width: 800px) {
  .exampleinputemail {
    width: 80%;
  }
  .tellme {
    width: 80%;
  }
  .mb-3 {
    width: auto;
  }
  .header {
    display: block;
  }
  .h1 {
    color: #f3f0e1;
    background-color: #3a3635;
    font-family: "mttmilano";
    text-align: center;
    font-size: 2rem;
    letter-spacing: 0.25em;
    padding-top: 1rem;
    margin-bottom: 0;
  }
  .h2 {
    color: #f3f0e1;
    background-color: #3a3635;
    font-family: "mttmilano";
    text-align: center;
    font-size: 0.5rem;
    letter-spacing: 0.25em;
    padding-top: 1rem;
  }
  .menuitem {
    font-size: 14px;
  }
  .gallery1 {
    flex-direction: column;
    height: auto;
  }
  .flor1 {
    width: 50vw;
  }
  .introgallery {
    max-width: 100%;
    grid-template-rows: auto;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: "img-00  img-01 img-02 img-03" "img-04 img-05 img-06 img-07" "img-08 img-09 img-10 img-10";
  }
  .footer {
    font-size: 12px;
    padding: 1px;
    width: 100%;
  }
  .boton-inicio {
    font-size: 1rem;
  }
  .boton-inicio a {
    font-size: 1rem !important;
  }
  .aboutmetxt {
    font-size: 12px;
  }
  .imagen1 {
    width: 100%;
    align-self: auto;
  }
  .galeriamotos {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas: "img1" "img2" "img3" "img4";
  }
  .itemgal1 img,
  .itemgal3 img,
  .itemgal5 img,
  .itemgal6 img {
    width: 85vw;
    height: 25vh;
    transition: 0.5s linear;
    align-self: top;
  }
  .itemgal1 img:hover,
  .itemgal3 img:hover,
  .itemgal5 img:hover,
  .itemgal6 img:hover {
    margin-top: 8px;
  }
  .itemgal1:hover {
    content: "Harley Davidson 883 Bobber by Pacorro";
    font-size: 4em;
    text-shadow: 0 0 10px #f3f0e1;
  }
}
@media (max-width: 650px) {
  .imagen1 {
    display: none;
  }
  .aboutmeimg {
    display: none;
  }
  .aboutme {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
  }
  .aboutmetxt {
    text-align: center;
    padding: 1rem;
    width: 90%;
    margin: auto;
  }
}
@media (max-width: 500px) {
  .menuitem {
    color: black;
    margin: 6px;
    font-size: 14px;
    font-family: "mttmilano";
    text-decoration: none;
    list-style-type: none;
    display: inline-block;
    text-align: center;
    position: relative;
  }
  .exampleinputemail {
    width: auto;
  }
  .mb-3 {
    width: auto;
    font-size: 12px;
  }
  .contactbtn {
    font-size: 12px;
  }
  .tellme {
    width: 60%;
  }
  .footertext {
    font-size: 12px;
    padding: 1px;
    width: 100%;
  }
  .footeritem {
    width: 4%;
    filter: saturate(50%) sepia(20);
    margin: 0.5rem;
  }
  .gallery1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .flor1 {
    max-width: 70vw;
  }
}
@media (max-width: 400px) {
  .mb-3 {
    width: auto;
  }
  .tellme {
    width: 60%;
  }
  .h1 {
    color: #f3f0e1;
    background-color: #3a3635;
    font-family: "mttmilano";
    text-align: center;
    font-size: 1.5rem;
    padding-top: 1rem;
    margin-bottom: 0;
  }
  .h2 {
    color: #f3f0e1;
    background-color: #3a3635;
    font-family: "mttmilano";
    text-align: center;
    font-size: 0.7rem;
    padding-top: 1rem;
  }
}
html {
  scroll-behavior: smooth;
}

a {
  color: #504c45;
  text-decoration: none;
}

a:hover:not(#instalink, #mailiconlink) {
  background-color: #3a3635;
  color: #f3f0e1;
  transition: 0.7s;
  border-radius: 5px;
  padding: 4px;
}

body {
  background-color: #f3f0e1;
}

@font-face {
  font-family: "mttmilano";
  src: url(../fonts/mttmilano.otf);
}
main {
  padding-bottom: 0.5rem;
}

.boton-inicio {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 50%;
  right: 50%;
  bottom: 50%;
  left: 50%;
  font-family: "mttmilano";
  white-space: nowrap;
}
.boton-inicio .boton-inicio a .btn a:hover {
  background-color: #5d5b62;
  color: #f3f0e1;
  transition: 0.7s;
  border-radius: 50%;
  padding: 8px;
  white-space: nowrap;
  font-size: 2rem !important;
}

.btn-light {
  font-size: 1.5rem;
}

img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  vertical-align: middle;
}

#carouselExampleSlidesOnly {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 0;
}
#carouselExampleSlidesOnly .carousel-inner {
  display: flex;
  margin: 0 auto;
}
#carouselExampleSlidesOnly .carousel-inner .carousel-item {
  width: 60vw;
  margin: 0.5rem auto;
}

@keyframes animationgallery1 {
  0% {
    filter: saturate(0%);
  }
  20% {
    filter: saturate(20%);
  }
  40% {
    filter: saturate(40%);
  }
  60% {
    filter: saturate(60%);
  }
  80% {
    filter: saturate(80%);
  }
  100% {
    filter: saturate(100%);
  }
}
.gallery1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  animation-name: animationgallery1;
  animation-iteration-count: initial;
  animation-duration: 8s;
}
.gallery1 .flor1 {
  width: 450px;
  margin-top: 0.5rem;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  margin-left: 0.5rem;
  transition: 0.3s;
}
.gallery1 .flor1:hover {
  transform: scale(1.1);
}

i:hover {
  background-color: #5d5b62;
  color: #f3f0e1;
  transition: 0.7s;
  border-radius: 50%;
  padding: 6px;
}

input:hover {
  border-radius: 4px;
  padding: 2px;
  border: 1px solid;
  border-color: #f3f0e1;
  box-shadow: 0 0 5px;
  outline: none;
}

.btn-primary {
  background-color: #5d5b62 !important;
  border: #3a3635;
  color: #f3f0e1 !important;
  /* transition: 0.7s !important; */
  padding: 6px !important;
  margin: 0.5rem;
}

.mb-3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin-bottom: 15px;
}

.btn-primary {
  align-self: center;
}

.contactbtn {
  margin-top: 2rem;
}

.confirmation {
  margin-top: 1rem;
}

.confirmationbtn {
  margin: 1rem;
}

.form-control {
  width: auto;
  text-align: center;
}

ul {
  padding-left: 0;
}

.aboutme {
  display: flex;
  justify-content: space-evenly;
  margin: 1rem;
}

.aboutmetxt {
  text-align: justify;
  padding: 1rem;
}

.imagen1 {
  margin: 1rem;
}

.aboutmeimg {
  width: 30vw;
}/*# sourceMappingURL=estilos.css.map */