@import "./partials/variables";
@import "./partials/reset";
@import "./partials/header";
@import "./partials/grillas";
@import "./partials/footer";
@import "./partials/mediaqueries";


html{
    scroll-behavior: smooth;
    
}
a { color: #504c45;
    text-decoration: none}
a:hover:not(#instalink, #mailiconlink){
    background-color:$color-header ;
    color: $color-fondo;
    transition: 0.7s;
    border-radius: 5px;
    padding: 4px;
}

body{ background-color: $color-fondo;
        cursor: pointer;
}
@font-face {
    font-family: "mttmilano";
    src: url(../fonts/mttmilano.otf);

}

.boton-inicio{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 50%;
    right: 50%;
    bottom: 50%;
    left: 50%;
    font-family: $fuente-general;
    white-space: nowrap; 
    
    .boton-inicio a {
        .btn{
            & a:hover{
                background-color: $link-hover;
                color: $color-fondo;
                transition: 0.7s;
                border-radius: 50%;
                padding: 6px;
                white-space: nowrap; 
                font-size: 1.5rem !important;
                }
            }
    }
}

.Menu{
    position: relative ;
    text-align: center;
    ul{ color:#504c45;
        list-style-type: none;}
    .menuitem{
        color: black;
        margin: 1rem;
        font-family: $fuente-general;
        text-decoration: none;
        list-style-type: none;
        display: inline-block;
        text-align: center;
        position: relative;
    }
}



img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    vertical-align: middle;
}

#carouselExampleSlidesOnly{
    display: flex;
    justify-content: center;
    align-items: center;

    .carousel-inner{
        display: flex;
        margin: 0 auto;

        .carousel-item{
            width: 60vw;
            margin: 0 auto;
        
        }
    }
}
@keyframes animationgallery1 {
    0% {
      filter: saturate(0%);
    }
    20% {
      filter: saturate(20%);
    }
    40% {
        filter: saturate(40%); 
    }
    60% {
      filter: saturate(60%);
    }
    80% {
      filter: saturate(80%);
    }
    100% {
        filter: saturate(100%);
      }
  }
.gallery1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap:wrap;
    animation-name: animationgallery1;
    animation-iteration-count: initial;
    animation-duration: 8s;

    .flor1{
        width: 450px;
        margin-top: 0.5rem;
        margin-right: 0.5rem;
        margin-bottom: 0.5rem;
        margin-left: 0.5rem;
        transition: 0.3s;

        &:hover{
            transform: scale(1.1);
                }
    }
}


i:hover{
    background-color: $link-hover ;
    color: #f3f0e1;
    transition: 0.7s;
    border-radius: 50%;
    padding: 6px;
}


input:hover{
    border-radius: 4px;
    padding: 2px;
    border: 1px solid;
    border-color:#f3f0e1 ;
    box-shadow: 0 0 5px;
    outline: none;
}

.btn-primary{
    background-color:#5d5b62 !important ;
    border: #3a3635;
    color: #f3f0e1 !important;
    /* transition: 0.7s !important; */
    padding: 6px !important;
    margin: 0.5rem;
}
.mb-3{
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-bottom: 15px;
}
.btn-primary {
    align-self: center; 
}

.form-control{
    width: 200px;
}
