*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* img: max width 100%;; */
}
html{
    scroll-behavior: smooth;
    
}
a { color: #504c45;
    text-decoration: none}
a:hover:not(#instalink, #mailiconlink){
    background-color:#5d5b62 ;
    color: #f3f0e1;
    transition: 0.7s;
    border-radius: 5px;
    padding: 4px;
}
ul{ color:#504c45;
    list-style-type: none;}
body{ background-color: #f3f0e1;
        cursor: pointer;
}
@font-face {
    font-family: "mttmilano";
    src: url(/fonts/mttmilano.otf);

}

.header{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;    
    justify-content: center;
    align-items: center;
    width: 100%;
}
.h1{
    color: #f3f0e1;
    background-color:#3a3635  ;
    font-family:"mttmilano" ;
    text-align: center;
    font-size: 4rem;
    letter-spacing: 0.75em;
    /* word-spacing: 0.25em; */
    /* margin-bottom: 1rem; */
    padding-top: 1rem;
    width: 100%;

}
.h1p{
    font-size: 1rem;
    letter-spacing: 0.60em;
    padding: 1rem;
    width: 100vw;

}
.footer{
    color: #f3f0e1;
    font-family: "mttmilano";
    text-align: center;
    background-color: #3a3635;
    font-size: 15px;
    padding: 1px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
}
.boton-inicio{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 50%;
    right: 50%;
    bottom: 50%;
    left: 50%;
    font-family: "mttmilano";
}
.boton-inicio a {
    white-space: nowrap; 

    font-size: 1.5rem !important;
}

.boton-inicio a:hover {
    background-color: #5d5b62;
    color: #f3f0e1;
    transition: 0.7s;
    border-radius: 50%;
    padding: 6px;
}

.Menu{
    position: relative ;
    text-align: center;
}
.menuitem{
    color: black;
    margin: 1rem;
    font-family: "mttmilano";
    text-decoration: none;
    list-style-type: none;
    display: inline-block;
    text-align: center;
    position: relative;
}

.introgallery{
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-rows: repeat(2, 1fr); 
    grid-template-columns: repeat(6, 1fr);
    grid-template-areas:
    "img-00 img-01 img-02 img-03 img-04 img-05"
    "img-00 img-06 img-07 img-08 img-09 img-10";
}
.img00{
    grid-area: img-00;
    overflow: hidden;
}
.img01{
    grid-area: img-01;
    overflow: hidden;
}
.img02{
    grid-area: img-02;
    overflow: hidden;
}
.img03{
    grid-area: img-03;
    overflow: hidden;
}
.img04{
    grid-area: img-04;
    overflow: hidden;
}
.img05{
    grid-area: img-05;
    overflow: hidden;
}
.img06{
    grid-area: img-06;
    overflow: hidden;
}
.img07{
    grid-area: img-07;
    overflow: hidden;
}
.img08{
    grid-area: img-08;
    overflow: hidden;
}
.img09{
    grid-area: img-09;
    overflow: hidden;
}
.img10{
    grid-area: img-10;
    overflow: hidden;
    
}
img{
   /* max-width: 40%; */
    max-height: 100%;
    object-fit: cover;
}
.hijo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.carousel-item{
    width: 100vw;
}

  
  
.gallery1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 800px;
    flex-wrap:nowrap;
}
.flor1{
    width: 450px;
    margin-top: 0.5rem;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
    margin-left: 0.5rem;
    transition: 0.3s;
}
.flor1:hover{
    transform: scale(1.1);
}


i:hover{
    background-color:#5d5b62 ;
    color: #f3f0e1;
    transition: 0.7s;
    border-radius: 50%;
    padding: 6px;
}


input:hover{
    border-radius: 4px;
    padding: 2px;
    border: 1px solid;
    border-color:#f3f0e1 ;
    box-shadow: 0 0 5px;
    outline: none;
}
.galeriamotos{
    height: 100vh;
    display: grid;
    gap: 0.5rem;
    justify-items: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
        "img1 img2"
        "img3 img4"
       
    /* movi gap y justify items arriba del grid template columns por que al estar aca abajo del template areas me daba error en el terminal y se veia cualquier cosa! */
}
.itemgal1{
    grid-area: img1;
    overflow: hidden;
}

.itemgal3{
    grid-area: img2;
    overflow: hidden;

}
.itemgal5{
    grid-area: img3;
    overflow: hidden;

}
.itemgal6{
    grid-area: img4;
    overflow: hidden;

}
.gridaboutme{
    display: grid;
    column-gap: 1rem;
    row-gap: 2rem;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr;
    grid-template-areas:  
            "texto texto imagen1 imagen2"
            "texto texto imagen3 imagen4";
   
}
.aboutmetxt{
    height: auto;
    width: 40vw;
    grid-area: texto ;
    font-family: "mtttmilano";
    font-size: 1em;
    text-align: center;
    justify-self: center;
    margin: 1rem;
}
.imagen1{
    grid-area: imagen1;
    max-height: 45vh;
    width: 500px;
    /*  Gian intente hacerlas cuadradas solo para probar pero no me funciono, escucho sugerencias jaja
    aspect-ratio: 1/1 !important ;
    object-fit: cover !important; */
}
.imagen2{
    grid-area: imagen2;
    max-height: 45vh;
}
.imagen3{
    grid-area: imagen3;
    max-height: 45vh;
}
.imagen4{
    grid-area: imagen4;
    max-height: 45vh;
}

.btn-primary{
    background-color:#5d5b62 !important ;
    border: #3a3635;
    color: #f3f0e1 !important;
    /* transition: 0.7s !important; */
    padding: 6px !important;
    margin: 0.5rem;
}
.mb-3{
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-bottom: 15px;
}
.btn-primary {
    align-self: center; 
}

.form-control{
    width: 200px;
}

@media (max-width: 992px) {
    .mb-3 {
        width: auto;
    }
    .header {
        display: inline-block;
        width: 100vw;
    }
    .h1 {
        font-size: 2rem;
        letter-spacing: 0.4em;
        text-align: center;
        width: 100vw;
    }

    .h1p {
        font-size: 0.8rem;
        letter-spacing: 0.1em;
        padding: 0.5rem;
        text-align: center;
        width: 100vw;
    }
    .menuitem {
        font-size: 14px;

    }
    .gallery1 {
        flex-direction: column; 
        height: auto; 
    }
    
    .flor1 {
        width: 80%; 
    }
     
    /* GIAN intente por todos los medios hacer esto responsive siguiendo la clase grabada y un video de carpi y no se por que no lo logre, ayuda
    .introgallery {
        grid-template-rows: repeat(2, 1fr); 
        grid-template-columns: repeat(4, 1fr);
       
    }  */
   

    .footer {
        font-size: 12px;
        padding: 1px;
    }

    .boton-inicio {
        font-size: 1rem;
    }

    .boton-inicio a {
        font-size: 1rem !important;
    }

    .aboutmetxt {
        height: 40vh;
        width: 40vw;
        font-size: 0.8em;
        margin: 0.5rem;
    }

    .imagen1 {
        max-height: 30vh;
        width: 100%;
    }

    .imagen2,
    .imagen3,
    .imagen4 {
        max-height: 30vh;
        width: 100%;
    }
    .galeriamotos {
        grid-template-columns: 1fr; 
        grid-template-rows: repeat(6, 1fr);
        grid-template-areas: 
            "img1"
            "img2"
            "img3"
            "img4";
    }
    .itemgal1 img,
    .itemgal2 img,
    .itemgal3 img,
    .itemgal4 img,
    .itemgal5 img,
    .itemgal6 img {
        width: 100vw; 
    }

}