.footer{
    color: $color-fondo;
    font-family: $fuente-general;
    text-align: center;
    background-color: $color-header;
    font-size: 15px;
    padding: 1px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
}